{% extends "base.html" %}

{% block extra_head %}
<script>
function resetForm()
{
    form = $('#searchForm');
    form.find("[name=name]").val("");
    form.find("[name=category]").val("");
    form.find("[name=selectAmperageQuery]").val("");
    form.find("[name=amperage]").val("");
    form.find("[name=selectVoltageQuery]").val("");
    form.find("[name=voltage]").val("");
    form.find("[name=selectPrefix]").val("");
    form.find("[name=value]").val("");

    return false;
}
</script>
{% endblock %}


{% block content %}
<table class="table table-hover" style="width: 900px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Amperage</th>
            <th>Voltage</th>
            <th>Value</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% if items %}
            {% for item in items %}
            <tr>
                <td><a href="{% url detail item.id %}">{{ item.name }}</a></td>
                <td>{{ item.category.name|default:"" }}</td>
                <td>{{ item.amperage|default:"" }}</td>
                <td>{{ item.voltage|default:"" }}</td>
                <td>{{ item.value|default:"" }} {{ item.category_small|safe }}{{ item.category.suffix|safe }}</td>
                <td>{{ item.quantity|default:"" }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" style="text-align: center; padding-top: 60px;">No results</td>
            </tr>
        {% endif %}
    </tbody>
    <tfoot class="paginator">
        <tr>
            <td colspan="6">
                {% if items.has_previous %}
                    <a href="{% url index %}{{ items.previous_link }}"><i class="icon-arrow-left"></i></a>
                {% endif %}
                {{ items.number }} of {{ items.paginator.num_pages }}
                {% if items.has_next %}
                    <a href="{% url index %}{{ items.next_link }}"><i class="icon-arrow-right"></i></a></td>
                {% endif %}
        </tr>
    </tfoot>
    {{ pageString }}
</table>
{% endblock %}

